<footer style="display: flex;">
  <section style="flex:1;padding: 10px;">
    <img src="../assets/logo_white_204.png" alt="ExcelR">
    <p class="text-white">Learn from the best in industry in Online mode. Trainers with 5+ yrs of experience. 100%
      Placement Assistance with Mock Interviews, Resume Prep. Market Leader for 8+ yrs. Attend Unlimited Batches.
      Avail EMI@ Zero Interest. 24x7 Live Chat Support.</p>
  </section>
  <section style="flex:1;">
    <h4 class="text-white">Menus</h4>
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Clients</a>
        </li>
        <li>
          <a href="#">Blogs</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </section>
  <section style="flex:1;">
    <h4 class="text-white">Social Links</h4>
    <ul>
      <li>
        <a href="#">Facebook</a>
      </li>
      <li>
        <a href="#">Twitter</a>
      </li>
      <li>
        <a href="#">LinkedIN</a>
      </li>
      <li>
        <a href="#">Pinterest</a>
      </li>
      <li>
        <a href="#">Instagram</a>
      </li>
      <li>
        <a href="#">Youtube</a>
      </li>
    </ul>
  </section>
  <section style="flex:1;">
    <h4 class="text-white">Address</h4>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3815.925682553733!2d82.24060731418187!3d16.978205518947416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a38299cdd8f2049%3A0xb7251fd704659869!2sJawaharlal%20Nehru%20Technological%20University%2C%20Kakinada!5e0!3m2!1sen!2sin!4v1627306587763!5m2!1sen!2sin"
      width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </section>
</footer>
