/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
header,
header ul {
  display: flex;
}

header div,
header ul li {
  flex: 1;
}
header nav {
  flex: 11;
}

header ul li,
footer li {
  text-align: center;
  list-style: none;
}

header ul li a,
footer a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
header,
footer {
  background-color: #000;
}
header ul {
  margin-top: 16px;
}
.slider img {
  width: 100%;
}
.text-white {
  color: #fff;
}
footer li {
  padding: 10px 0;
}
h4 {
  text-align: center;
  text-transform: uppercase;
  color: gold !important;
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

/* contact form styles */
form input,
form select,
form textarea {
  display: block;
}

.contactForm {
  width: 50%;
  margin: 0 auto;
}
.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm input[type="tel"],
.contactForm input[type="submit"],
.contactForm select,
.contactForm textarea {
  width: 100%;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}
.contactForm textarea {
  height: 250px;
}
.contactForm input[type="radio"],
.contactForm input[type="checkbox"] {
  display: inline;
}

.contactForm input[type="submit"] {
  background: linear-gradient(orange, white, green);
}
.error {
  color: red;
  font-size: 12px;
}
.hide {
  display: none;
}

.bg {
  background-color: red;
}
