<app-students-list></app-students-list>
<section class="container mb-5">
  <div class="row">
    <h1>Popular Products</h1>
    <div class="col-md-4">
      <div class="card">
        <img src="../../assets/mac.jpg" class="card-img-top w-100" alt="Macbook">
        <div class="card-body">
          <h5 class="card-title">Macbook Air</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../assets/dell.jpg" class="card-img-top w-100" alt="Dell Inspiron">
        <div class="card-body">
          <h5 class="card-title">Dell Inspiron</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../assets/mi.jpg" class="card-img-top w-100" alt="MI">
        <div class="card-body">
          <h5 class="card-title">Xiami MI</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
  </div>
</section>
